@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background: #ffffff;
  color: #111827;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #0f2f56;
}

::-webkit-scrollbar-track {
  background: #f3f4f6;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}